@import "../globals";

/* Clear float */
.head-div::after {
    content: "";
    display: block;
    clear: both;
}

.core {
    /* Resets the font-size to 10px to round off the default font-size for simple px to em conversion */
    font-size: 10px;
    margin-bottom: 10%;
    min-width: 330px;

    .core-message {
        width: 60%;
        margin: 2% 17%;
        padding: 1.5em;
        
        p {
            font-size: 2.8em;
            font-weight: 300;
        }
        p:nth-child(1):first-letter {
            font-size: 1.5em;
            font-weight: 600;
        }
    }    

    .tag-background {
        background-color: $color_1;
        @include dimension(24%, 49px);
        min-width: 300px;
        margin: 4% 5%;

        p {
            @include dimension(100%, 100%);
            padding: 0% 10%;

            /* Center Horizontally & Vertically */
            display: flex;
            justify-content: center;
            align-items: center;

            color: $color_3;
            font-size: 2.4em;
            font-weight: 800;
            font-family: 'DM Sans', sans-serif;
        }
    }

}