@import "../../globals";

#focused {
    font-family: 'DM Sans', sans-serif;

    div:nth-child(1) {
        background-color: $color_5;
        img {
            width: 100%;
        }
    }

    div:nth-child(2) {
        h3 {
            font-size: 3.6em;
            font-weight: 700;
            padding-top: 0.5em;
        }
        p {
            font-size: 1.8em;
            font-weight: 400;
            padding-top: 0.25em;
            + p {           
                font-size: 1.6em;
                font-weight: 400;
                padding-top: 0;
                + p {
                    font-size: 1.4em;
                    font-weight: 400;
                    padding-top: 0.75em;
                }        
            }
        }
    }
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    #focused {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5em;
    
        div:nth-child(2) {
            h3 {
                padding-top: 0;
            }
            p {
                font-size: 2.125em;
                + p {           
                    font-size: 2.125em;      
                }
            }
        }
    }
}