@import "../../../assets/variables";

.container {
  // overflow: hidden;
  // overflow-x: hidden;
  // background-image: url("../../../assets/ted.png");
  // background-size: cover;
  // margin: 0px;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // height: 100vh;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  background-color: aqua;
  @media #{$media-tablet-p} {
    //  background-image: url("../../../assets/tabted.png");
  }

  @media #{$media-mobile} {
    //  background-image: url("../../../assets/mobted.png");
  }

  @media #{$media-small} {
    // background-image: url("../../../assets/smallted.png");
  }

  .herocontent {
    background-color: rgb(255, 204, 204);
    margin-top: 220px;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;

    @media #{$media-tablet-p} {
      margin-top: 250px;
    }

    .slogans {
      font-family: "helvetica";
      color: rgb(3, 3, 3);
      font-size: 50px;
      position: absolute;
      right: 0px;
      top: 100px;
      float: right;
      margin-top: 0px;
      margin-bottom: 30px;
      font-weight: 500;

      @media #{$media-tablet-p} {
        position: relative;
        float: none;
        font-size: 30px;
      }

      @media #{$media-mobile} {
        position: relative;
        float: none;
        font-size: 30px;
        margin-left: 39%;
      }

      @media #{$media-small} {
        position: relative;
        float: none;
        font-size: 30px;
        margin-left: 39%;
      }

      .spin:after {
        content: "";
        animation: spin 10s linear infinite;
      }

      @keyframes spin {
        0% {
          content: "Commu";
        }

        20% {
          content: "Opportu";
        }

        40% {
          content: "Confrater";
        }

        60% {
          content: "Huma";
        }

        100% {
          content: "Sempiter";
        }
      }
    }

    .red {
      color: rgb(230, 43, 30);
      font-weight: 700;
    }
  }
}
