@import "../globals";

#event {
    /* Resets the font-size to 10px to round off the default font-size for simple px to em conversion */
    font-size: 10px;

    margin: 5%;
    grid-template-rows: 1fr;

    #event-focused {
        padding: 10%;
    }
    #event-all {
        h2 {
            background-color: $color_3;
            color: $color_4;
            font-size: 2.7em;
            padding: 0.325926em 0;
            text-transform: uppercase;

            /* Center Horizontally & Vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div {
            grid-template-rows: repeat (5, 1fr);
        }

        #add-event-btn {
            margin-top: 1em;
            a:hover {
                text-decoration: none;
            }
            div {
                background-color: $color_2;
                color: $color_0;
                font-size: 1.8em;
                padding: 0.3em 5em;
                font-weight: 600;

                display: flex;
                justify-content: center;
                align-items: center;
                i, p {
                    padding: 0 0.5em;
                }
            }
        }
    }
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    #event {
        margin: 0 5%;
        grid-template-columns: 2.25fr 1fr;

        #event-focused {
            padding: 1% 10%;
        }
        #event-all {
            padding: 2%;
        }
    }
}