@import "../globals";

.clear-float {
    clear: left;
    visibility: hidden;
    height: 0;
}

.event {
    /* Resets the font-size to 10px to round off the default font-size for simple px to em conversion */
    font-size: 10px;

    .all-events {
        @include dimension(calc(43510%/1349 - 10%), 57.35vh);
        margin-right: calc(10450%/1349);
        float: right;
        
        .header-block {
            height: 50px;
            background-color: $color_3;
            color: $color_4;
            font-size: 2.7em;

            /* Center Horizontally & Vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .event-cards {
            overflow: hidden;
        }
    }

    .event-selected {
        @include dimension(40%, 40.75vh);
        margin-left: calc(10% + 5%);
        margin-top: 2%;
    }
}
