.txt1{
  position: absolute;
width: 1000px;
height: 50px;
left: 20px;
top: 1150px;

font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 72px;
margin-top: 60px;
margin-left: 10px;

color: #000000;
}
.txt2{
  position: absolute;
width: 1000px;
height: 50px;
left: 20px;
top: 1740px;
margin-top: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 72px;
margin-top: 60px;
margin-left: 10px;

color: #000000;
}
.video{
  left:50px;
}
