.txt1{
  position: absolute;
width: 1000px;
height: 50px;
left: 20px;
top: 1150px;

font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 72px;
margin-top: 60px;
margin-left: 10px;

color: #000000;
}
.txt2{
  position: absolute;
width: 1000px;
height: 50px;
left: 20px;
top: 1740px;
margin-top: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 72px;
margin-top: 60px;
margin-left: 10px;

color: #000000;
}
.video{
  left:50px;
}
.carouselText{
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  margin-left: 150px;
}

.myAE {
    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .announcements-events {
        margin-top: 1em;

        Link:hover {
            -webkit-transition: none !important;
            -o-transition: none !important;
            transition: none !important;
        }

        .announcement-events-block {
            padding: 10px;
            padding-top: 20px;
            height: 350px;


            .announcement {
                font-family: Calibri, sans-serif;
                height: 220px;
                overflow-y: scroll;
                padding-bottom: 25px;
                padding-left: 35px;

                @media (max-width:770px) {
                    padding-left: 10px;
                }
            }

            .social {
                font-family: Calibri, sans-serif;
                height: 220px;
                overflow-y: scroll;
                padding-bottom: 25px;
                padding-left: 35px;

                @media (max-width:770px) {
                    padding-left: 10px;
                }
            }

            .update {
                font-family: Calibri, sans-serif;
                height: 220px;
                overflow-y: scroll;
                padding-bottom: 25px;
                padding-left: 35px;

                @media (max-width:770px) {
                    padding-left: 10px;
                }
            }
        }

        .announcement-block {
            -webkit-box-shadow: -5px 0px 10px gray;
            box-shadow: -5px 0px 10px gray;
            border-radius: 10px 0px 0px 10px;
            border-radius: 10px 0px 0px 10px;
            border-right: none;

            @media (max-width:767px) {
                border: none;
                border-radius: 10px 10px 0px 0px;
                -webkit-box-shadow: 0px -5px 10px gray;
                box-shadow: 0px -5px 10px gray;
            }
        }

        .social-block {
            border-radius: 0px 0px 0px 0px;
            -webkit-box-shadow: 5px 0px 10px gray;
            box-shadow: 5px 0px 10px gray;
            border-left: none;

            @media (max-width:767px) {
                border-top: none;
                border-radius: 0px 0px 0px 0px;
                -webkit-box-shadow: 0px 5px 10px gray;
                box-shadow: 0px 5px 10px gray;
            }
        }

        .update-block {
            border-radius: 0px 10px 10px 0px;
            -webkit-box-shadow: 5px 0px 10px gray;
            box-shadow: 5px 0px 10px gray;
            border-left: none;

            @media (max-width:767px) {
                border-top: none;
                border-radius: 0px 0px 10px 10px;
                -webkit-box-shadow: 0px 5px 10px gray;
                box-shadow: 0px 5px 10px gray;
            }
        }
        .contact{
            margin-top:0px;
        }
    }
}
