
/* Dean Office */
.dean{


}

.studs {
    width: 311px;
    
  
    background-color: orange;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    
    padding-bottom: 50px;
    /* identical to box height */
    text-align: center;
    color: black;
}


.prof {
    margin-top: 80px;
    float: left;
    width: 50%;
  
}
.stud {
    margin-top: 80px;
    float: left;
    width: 33%;
}
