/* LOGO */
.logo {
  left: 2%;
}
.logo a:link {
  text-decoration: none;
}
.thicker {
  margin-top: 0.5rem;
  margin-bottom: 0%;
  color:#000000;
  font-weight: bolder;
}
.cell {
  color: #f9531e;
 
}
.thick {
  color:#000000;
  font-weight: bold;
}

/* NAVBAR */
.yellow-box {
  background-color: #f5b50e;
  
}
.orange-box {
  background-color: #f9531e;
  margin-left:313px;
}
.black-box {
  background-color: #000000;
}
.box {
  color: white;
  height: 80px;
  width:initial;
  
  
  padding: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  color: white;
}
.item:hover {
  color: #f2f2f2;
  text-decoration: none;
}

/* DROPDOWN MENU */
nav  {
    padding: 0 !important;
}
#navbarDropdownMenuLink {
  padding: 0 !important;
}
#navbarDropdownMenuLink::after {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  .box{
    height: 60px;
  }
}